input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
  overflow: hidden;
}

.scroll::-webkit-scrollbar {
  display: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

.contact100-form-title {
  display: block;
  font-size: 39px;
  color: #404040;
  text-align: center;
  padding-bottom: 44px;
  font-weight: bold;
}

::placeholder{
  color: #d5c9de;
}

.container {
  max-width: 1200px;
}

.container-contact100 {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;

}

mat-label {
  font-size: 18px;

}



.wrap-contact100 {
  width: 500px;
  background: linear-gradient( #EE786E, #d5c9de);
  border-radius: 10px;
  overflow: hidden;
  padding: 42px 55px 45px 55px;
}


.mat-form-field--inline {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mat-form-field--inline .mat-form-field {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.mat-form-field--inline .mat-form-field:nth-child(1) {
  margin-right: 10px;
}

.custom-button {
  margin-bottom: 20px!important;
  border-radius: 60px!important;
}

.custom-button:hover{
  background: white!important;
  color: #dE685E!important;
}

.ul-position {
  margin-right: 20px;
}

.container-contact100-form-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 13px;
}







