body{

  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
}
.login-box{

  width: 420px;
  height: 450px;
  color: #404040;
  font-size: 20px;
  top: 40%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  padding: 70px 30px;
  box-shadow: 5px 3px 10px #777;
  border-radius: 15px;
  background: linear-gradient( #EE786E, #d5c9de);

}
.avatar{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}
h1{
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 27px;
}
.login-box p{
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.login-box input{
  width: 100%;
  margin-bottom: 20px;
}
.login-box input[type="text"], input[type="password"]
{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.login-box input[type="submit"], input[type="button"]
{
  margin-top: 30px;
  border: none;
  outline: none;
  height: 40px;
  font-size: 18px;
  border-radius: 20px;
  background: #404040;
  color: #ffffff !important;
  font-weight: 100;
  transition: all 0.3s ease 0s;
}

.login-box input[type="submit"]:hover,
input[type="button"]:hover
{
  cursor: pointer;
  color: #404040 !important;
  font-weight: 700 !important;
  letter-spacing: 3px;
  background: #eee;
  box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.3s ease 0s;
}

.login-box a{
  text-decoration: none;
  font-size: 14px;
  color: #fff;
}

.container-class{
  margin-top: 10px;
  width: 500px;
  border: 1px solid #404040;
  box-shadow: 5px 3px 10px #777;
  margin-left: 773px;
  border-radius: 15px;
  height: 75px;
  text-align: center;
  background: #404040;
  color: #eee;
  padding-top: 20px;
}

input.ng-invalid.ng-touched[type="text"],
input.ng-invalid.ng-touched[type="password"]{
  border-bottom: 1px solid red;
}

::placeholder {
  color: #d5c9de;
}

.alert-message {
  text-align: center;
  margin-top: 100px;
}



