<div class="container-contact100">
  <div class="wrap-contact100">
    <form [formGroup]="productForm" (ngSubmit)="submitFormData()" class="contact100-form validate-form">
				<span class="contact100-form-title">
					Edit
				</span>

      <div class="wrap-input100" data-validate="Name is required">
        <span class="label-input100">Product</span>
        <input class="input100" type="text" placeholder="Product name"
               formControlName="productName">
        <span class="focus-input100"></span>
      </div>

      <div class="wrap-input100" data-validate="Category is required">
        <span class="label-input100">Category</span>
        <input class="input100" type="text" placeholder="Product category"
               formControlName="productCategory">
        <span class="focus-input100"></span>
      </div>

      <div class="wrap-input100" data-validate="Price is required">
        <span class="label-input100">Price</span>
        <input class="input100" type="number" placeholder="Product price"
               formControlName="productPrice">
        <span class="focus-input100"></span>
      </div>

      <div class="wrap-input100">
        <span class="label-input100">Image URL</span>
        <input class="input100" type="text" placeholder="Product image"
               formControlName="productImage">
        <span class="focus-input100"></span>
      </div>


      <div class="wrap-input100">
        <span class="label-input100">Description</span>
        <textarea class="input100"
                  placeholder="Product description here..."
                  formControlName="productDescription"></textarea>
        <span class="focus-input100"></span>
      </div>

      <div class="container-contact100-form-btn">
        <button class="custom-button" type="submit" [disabled]="!productForm.valid" *ngIf="productForm.valid">
							<span>
								Submit
								<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
							</span>
        </button>
        <div class="vertical-divider"></div>
        <button class="custom-button" (click)="goBack()">
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
