<div class="container-contact100">
  <div class="wrap-contact100">

    <form [formGroup]="productForm" (ngSubmit)="submitFormData()" class="contact100-form validate-form">
				<span class="contact100-form-title"
              i18n="Add Product Title|Title for the add product header">
					Add Product
				</span>
      <ul class="ul-position">
        <li class="mat-form-field--inline">
          <mat-form-field>
            <mat-label i18n="Product Name Field|Value for the product name field">Product Name</mat-label>
            <input matInput type="text"
                   placeholder="Product name"
                   formControlName="productName"
                   i18n-placeholder="Product Name Placeholder|Value for the product name placeholder">
          </mat-form-field>
          <span class="focus-input100"></span>
        </li>

        <li class="mat-form-field--inline">
          <mat-form-field>
            <mat-label i18n="Product Category Field|Value for the product category field">Product Category</mat-label>
            <input matInput type="text"
                   placeholder="Product category"
                   formControlName="productCategory"
                   i18n-placeholder="Product Category Placeholder|Value for the product category placeholder">
          </mat-form-field>
        </li>

        <li class="mat-form-field--inline">
          <mat-form-field>
            <mat-label i18n="Product Price Field|Value for the product price field">Product Price</mat-label>
            <input matInput type="number"
                   placeholder="Product price"
                   formControlName="productPrice"
                   i18n-placeholder="Product Price Placeholder|Value for the product price placeholder">
          </mat-form-field>
        </li>

        <li class="mat-form-field--inline">
          <mat-form-field>
            <mat-label i18n="Product Image Field|Value for the product image field">Product Image</mat-label>
            <input matInput type="text"
                   placeholder="Product image"
                   formControlName="productImage"
                   i18n-placeholder="Product Image Placeholder|Value for the product image placeholder">
          </mat-form-field>
        </li>

        <li class="mat-form-field--inline">
          <mat-form-field>
            <mat-label i18n="Product Description Field|Value for the product description field">Product Description
            </mat-label>
            <textarea class="scroll" matInput
                      placeholder="Product description"
                      formControlName="productDescription"
                      i18n-placeholder="Product Description Placeholder|Value for the product description placeholder">
            </textarea>
          </mat-form-field>
        </li>
      </ul>

      <div class="container-contact100-form-btn">
        <button mat-button class="custom-button" type="submit" [disabled]="!productForm.valid"
                *ngIf="productForm.valid">
							<span i18n="Submit Button|Value for the submit button">
								Submit
								<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
							</span>
        </button>
        <div class="vertical-divider"></div>
        <button mat-button class="custom-button"
                (click)="goBack()"
                i18n="Cancel Button|Value for the cancel button">
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>

