<nav *ngIf="authService.user">
  <ul>
    <li><a routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: false}"
           routerLink="/products"
           i18n="Products Navbar|Value for the products navbar">Products</a></li>
    <li *ngIf="authService.isCustomer()"><a routerLinkActive="active"
                                            routerLink="/my-cart"
                                            i18n="Cart Navbar|Value for the cart navbar">Cart</a></li>
    <li class="on-right"><a routerLinkActive="active"
                            routerLink="/login"
                            (click)="onLogOut()"
                            i18n="Logout Navbar|Value for the logout navbar">Log Out</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>
