@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.mat-header-row {
  background: linear-gradient(-90deg, #EE786E, #d5c9de);
}

.mat-header-cell {
  font-weight: bold;
  font-size: 18px;
}

.mat-row {
  background-color: #404040;
}

.custom-container {
  width: 70% !important;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 50px;
}

.center-button {
  text-align: center;
  padding-bottom: 10px;
}

.mat-header-cell {
  width: 27% !important;
}

.product-name {
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  color: #EE786E !important;

}

.product-name:hover {
  text-decoration: underline !important;
}

.product-data {
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  color: #d5c9de !important;
}

.custom-button:hover{
  color: #d5c9de!important;
}

