<div class="center-button">
  <button mat-button class="custom-button"
          routerLink="/products/add"
          *ngIf="authService.isAdmin()"
          i18n="New Product Button|Value for the new product button">New Product
  </button>
</div>
<mat-table id="productsTable" class="mat-elevation-z8 custom-container" [dataSource]="products">

  <ng-container matColumnDef="Name">
    <mat-header-cell i18n="Header Name Title|Name for the name header of the table"
                     *matHeaderCellDef>Name
    </mat-header-cell>
    <mat-cell *matCellDef="let product">
      <a (click)="onLoadProduct(product.id)"
         class="product-name">{{product.name}}
      </a>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="Category">
    <mat-header-cell i18n="Header Category Title|Category for the category header of the table"
                     *matHeaderCellDef>Category
    </mat-header-cell>
    <mat-cell class="product-data"
              *matCellDef="let product">{{product.category}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="Price">
    <mat-header-cell i18n="Header Price Title|Price for the price header of the table"
                     *matHeaderCellDef>Price
    </mat-header-cell>
    <mat-cell class="product-data"
              *matCellDef="let product">{{product.price}}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
  <mat-row *matRowDef="let row; columns: columnNames"></mat-row>


</mat-table>
